$border-radius: 10px;

body {
    @media (max-width: 756px) {
        padding-top: 24px !important;
    }
}

.root {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-around;
    gap: 10px;

    .content {
        display: flex;
        flex-direction: column;
        grid-column: 4 / 13;

        h1 {
            font-weight: bold;
            font-size: 1.5em;
        }

        span {
            margin-bottom: 10px;
            font-size: 1em;
        }

        .contact {
            flex: 1;
            display: flex;
            gap: 5px;

            width: 100%;
            font-size: 13px;
            font-weight: 400;
            &__button {
                border-radius: $border-radius;
                padding: 7px 15px;
                transition: filter 0.3s ease;
                align-self: flex-end;


                &:hover {
                    filter: brightness(90%)
                }
            }

            .phone_button {
                color: black;
                background-color: #F2F2F2;
                width: 45%;
            }

            .whatsapp_button {
                width: calc(55% - 5px);
                color: white;
                background-color: var(--accent-color);
            }

        }
    }

    .content.full_width {
        grid-column: 1 / -1;
    }

    .logo {
        text-align: center;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        margin: auto;
        grid-column: 1 / 4;
        background-color: var(--accent-color);

        img {
            width: 100%;
            filter: brightness(0) invert(1);
        }

    }

    
}



